; This Source Code Form is subject to the terms of the Mozilla Public
; License, v. 2.0. If a copy of the MPL was not distributed with this
; file, You can obtain one at https://mozilla.org/MPL/2.0/.

{
 dev {:enabled true}
 lint {:enabled true}
 metrics {:enabled true}
 naming {:enabled true}
 performance {:enabled true}
 style {:enabled true}

 lint/thread-macro-one-arg {:enabled false}
 metrics/fn-length {:enabled false}
 metrics/parameter-count {:count 5}
 style/set-literal-as-fn {:enabled false}

 ; performance/assoc-many {:excludes ["glob:**/path_matcher.clj"]}
 ; global {:excludes ["glob:src/noahtheduke/splint/path_matcher.clj"]}
}
