; This Source Code Form is subject to the terms of the Mozilla Public
; License, v. 2.0. If a copy of the MPL was not distributed with this
; file, You can obtain one at https://mozilla.org/MPL/2.0/.

{
 dev/sorted-rules-require {:enabled true}
 dev/throws-on-match {:enabled true}
 lint/thread-macro-one-arg {:enabled false}
 metrics/parameter-count {:enabled true
                          :count 5}
 style/set-literal-as-fn {:enabled false}
}
