; This Source Code Form is subject to the terms of the Mozilla Public
; License, v. 2.0. If a copy of the MPL was not distributed with this
; file, You can obtain one at https://mozilla.org/MPL/2.0/.

{:paths ["src" "resources"]
 :deps {borkdude/edamame {:mvn/version "1.2.19"}}
 :bbin/bin {splint {:main-opts ["-m" "noahtheduke.splint"]}}}
