; This Source Code Form is subject to the terms of the Mozilla Public
; License, v. 2.0. If a copy of the MPL was not distributed with this
; file, You can obtain one at https://mozilla.org/MPL/2.0/.

{:paths ["src" "resources"]
 :deps {org.clojure/tools.cli {:mvn/version "1.4.256"}
        org.clojure/spec.alpha {:mvn/version "0.6.249"}
        borkdude/edamame {:mvn/version "1.6.43"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        org.clojure/data.json {:mvn/version "2.5.2"}
        org.flatland/ordered {:mvn/version "1.15.12"}
        fipp/fipp {:mvn/version "0.6.29"}
        rewrite-clj/rewrite-clj {:mvn/version "1.2.55"}}
 :aliases
 {:run {:extra-paths ["classes"]
        :main-opts ["-m" "noahtheduke.splint"]}
  :dev {:extra-paths ["dev"]
        :extra-deps {org.clojure/tools.namespace {:mvn/version "1.5.1"}
                     criterium/criterium {:mvn/version "0.4.6"}
                     com.clojure-goes-fast/clj-java-decompiler {:mvn/version "0.3.7"}
                     com.nextjournal/beholder {:mvn/version "1.0.3"}
                     org.slf4j/slf4j-simple {:mvn/version "2.0.18"}
                     potemkin/potemkin {:mvn/version "0.4.9"}
                     org.clojure/tools.gitlibs {:mvn/version "2.6.217"}
                     io.github.tonsky/clj-reload {:mvn/version "1.0.0"}
                     babashka/fs {:mvn/version "0.5.34"}}}
  :repl {:extra-deps {nrepl/nrepl {:mvn/version "1.7.0"}
                      com.bhauman/rebel-readline {:mvn/version "0.1.11"}
                      cider/cider-nrepl {:mvn/version "0.62.2"}}
         :main-opts  ["-m" "nrepl.cmdline"
                      "--interactive"
                      "--middleware" "[cider.nrepl/cider-middleware]"
                      "-f" "rebel-readline.main/-main"]}
  :test {:extra-paths ["test"]
         :extra-deps {nubank/matcher-combinators {:mvn/version "3.11.0"}
                      io.github.noahtheduke/lazytest {:mvn/version "2.1.0"}}}
  :runner {:main-opts ["-m" "lazytest.main"]}

  :v1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
  :v1.11 {:override-deps {org.clojure/clojure {:mvn/version "1.11.4"}}}
  :v1.12 {:override-deps {org.clojure/clojure {:mvn/version "1.12.5"}}}

  :profile {:extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "2.0.0-beta1"}
                         com.clojure-goes-fast/clj-memory-meter {:mvn/version "0.5.0"}}
            :jvm-opts ["-Djdk.attach.allowAttachSelf"
                       "-XX:+UnlockDiagnosticVMOptions"
                       "-XX:+DebugNonSafepoints"]}
  :flow {:classpath-overrides {org.clojure/clojure nil} ;; for disabling the official compiler
         :extra-deps {com.github.jpmonettas/clojure {:mvn/version "1.11.1-11"}
                      com.github.jpmonettas/flow-storm-dbg {:mvn/version "3.7.5"}}
         :jvm-opts ["-Dclojure.storm.traceEnable=true"
                    "-Dclojure.storm.instrumentEnable=true"
                    "-Dclojure.storm.instrumentOnlyPrefixes=user,noahtheduke"]}
  :cljfmt {:deps {dev.weavejester/cljfmt {:mvn/version "0.16.5"}}
           :main-opts ["-m" "cljfmt.main"]}
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.14"
                                                :git/sha "1176afd"}
                 slipset/deps-deploy {:mvn/version "0.2.5"}}
          :ns-default build}
  :antq {:deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}}
         :main-opts ["-m" "antq.core"]}
  ; dev tasks
  :gen-docs {:extra-paths ["tasks"]
             :extra-deps {doric/doric {:mvn/version "0.9.0"}}
             :main-opts ["-m" "generate-docs"]}
  :new-rule {:extra-paths ["tasks"]
             :extra-deps {selmer/selmer {:mvn/version "1.13.5"}}
             :main-opts ["-m" "new-rule"]}}}
