; This Source Code Form is subject to the terms of the Mozilla Public
; License, v. 2.0. If a copy of the MPL was not distributed with this
; file, You can obtain one at https://mozilla.org/MPL/2.0/.

{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.4"}
        org.clojure/tools.cli {:mvn/version "1.1.230"}
        borkdude/edamame {:mvn/version "1.4.26"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        org.clojure/data.json {:mvn/version "2.5.0"}
        org.flatland/ordered {:mvn/version "1.15.12"}
        fipp/fipp {:mvn/version "0.6.26"}}
 :aliases
 {:run {:extra-paths ["classes"]
        :main-opts ["-m" "noahtheduke.splint"]}
  :dev {:extra-paths ["dev"]
        :extra-deps {org.clojure/spec.alpha {:mvn/version "0.5.238"}
                     org.clojure/tools.namespace {:mvn/version "1.5.0"}
                     criterium/criterium {:mvn/version "0.4.6"}
                     com.clojure-goes-fast/clj-java-decompiler {:mvn/version "0.3.6"}
                     com.nextjournal/beholder {:mvn/version "1.0.2"}
                     org.slf4j/slf4j-simple {:mvn/version "2.0.14"}
                     com.taoensso/tufte {:mvn/version "2.6.3"}
                     potemkin/potemkin {:mvn/version "0.4.7"}
                     org.clojure/tools.gitlibs {:mvn/version "2.5.197"}
                     io.github.tonsky/clj-reload {:mvn/version "0.7.1"}}}
  :repl {:extra-deps {nrepl/nrepl {:mvn/version "1.2.0"}
                      com.bhauman/rebel-readline {:mvn/version "0.1.4"}
                      cider/cider-nrepl {:mvn/version "0.49.2"}}
         :main-opts  ["-m" "nrepl.cmdline"
                      "--interactive"
                      "--middleware" "[cider.nrepl/cider-middleware]"
                      "-f" "rebel-readline.main/-main"]}
  :test {:extra-paths ["test"]
         :extra-deps {nubank/matcher-combinators {:mvn/version "3.9.1"}
                      io.github.noahtheduke/lazytest {:mvn/version "0.4.1"}}}
  :runner {:main-opts ["-m" "lazytest.main" "--output" "dots"]}
  :profile {:extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.2.2"}
                         com.clojure-goes-fast/clj-memory-meter {:mvn/version "0.3.0"}}
            :jvm-opts ["-Djdk.attach.allowAttachSelf"
                       "-XX:+UnlockDiagnosticVMOptions"
                       "-XX:+DebugNonSafepoints"]}
  :flow {:classpath-overrides {org.clojure/clojure nil} ;; for disabling the official compiler
         :extra-deps {com.github.jpmonettas/clojure {:mvn/version "1.11.1-11"}
                      com.github.jpmonettas/flow-storm-dbg {:mvn/version "3.7.5"}}
         :jvm-opts ["-Dclojure.storm.traceEnable=true"
                    "-Dclojure.storm.instrumentEnable=true"
                    "-Dclojure.storm.instrumentOnlyPrefixes=user,noahtheduke"]}
  :cljfmt {:deps {dev.weavejester/cljfmt {:mvn/version "0.12.0"}}
           :main-opts ["-m" "cljfmt.main"]}
  :clj-kondo {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.08.01"}}
              :main-opts ["-m" "clj-kondo.main"]}
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.5"
                                                :git/sha "2a21b7a"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}
  :antq {:deps {com.github.liquidz/antq {:mvn/version "2.8.1206"}}
         :main-opts ["-m" "antq.core"]}
  ; dev tasks
  :gen-docs {:extra-paths ["tasks"]
             :extra-deps {doric/doric {:mvn/version "0.9.0"}}
             :main-opts ["-m" "generate-docs"]}
  :new-rule {:extra-paths ["tasks"]
             :extra-deps {selmer/selmer {:mvn/version "1.12.61"}}
             :main-opts ["-m" "new-rule"]}}}
