; This Source Code Form is subject to the terms of the Mozilla Public
; License, v. 2.0. If a copy of the MPL was not distributed with this
; file, You can obtain one at https://mozilla.org/MPL/2.0/.

(ns ^:no-doc noahtheduke.splint.rules.{{genre}}.{{rule-name}}
  (:require
    [noahtheduke.splint.diagnostic :refer [->diagnostic]]
    [noahtheduke.splint.rules :refer [defrule]]))

(set! *warn-on-reflection* true)

(defrule {{genre}}/{{rule-name}}
  "Docstring goes here.

  Examples:

  ; bad
  (+ 1 1)

  ; good
  (inc 1)
  "
  {:pattern '()
   :message ""
   :replace '()
   :on-match (fn [ctx rule form {:syms []}]
               (let [new-form '()]
                 (->diagnostic ctx rule form {:replace-form new-form})))})
