; This Source Code Form is subject to the terms of the Mozilla Public
; License, v. 2.0. If a copy of the MPL was not distributed with this
; file, You can obtain one at https://mozilla.org/MPL/2.0/.

(ns noahtheduke.splint.rules.{{genre}}.{{rule-name}}-test
  (:require
   [lazytest.core :refer [defdescribe]]
   [noahtheduke.splint.test-helpers :refer [expect-match single-rule-config]]))

(set! *warn-on-reflection* true)

(defn config [& [style]]
  (cond-> (single-rule-config '{{genre}}/{{rule-name}})
    style (update '{{genre}}/{{rule-name}} merge style)))

(defdescribe {{rule-name}}-test
  (expect-match
    [{:rule-name '{{genre}}/{{rule-name}}
      :form nil
      :message ""
      :alt nil}]
    "()"
    (config)))
