; This Source Code Form is subject to the terms of the Mozilla Public
; License, v. 2.0. If a copy of the MPL was not distributed with this
; file, You can obtain one at https://mozilla.org/MPL/2.0/.

{:cljdoc/languages ["clj"]
 :cljdoc.doc/tree
 [["Home" {:file "README.md"}]
  ["Installation" {:file "docs/installation.md"}]
  ["Usage" {:file "docs/usage.md"}]
  ["Configuration" {:file "docs/configuration.md"}]
  ["Rules Overview" {:file "docs/genre-overview.md"}
   ["Lint" {:file "docs/rules/lint.md"}]
   ["Metrics" {:file "docs/rules/metrics.md"}]
   ["Naming" {:file "docs/rules/naming.md"}]
   ["Performance" {:file "docs/rules/performance.md"}]
   ["Style" {:file "docs/rules/style.md"}]]
  ["Custom Rules"
   ["Developing a new rule" {:file "docs/develop-new-rule.md"}]
   ["Patterns" {:file "docs/patterns.md"}]]
  ["Contributing" {:file "docs/contributing.md"}]
  ["Changelog" {:file "CHANGELOG.md"}]]}
